body{
    background-color: black;
    color: white;
}

.nav{
    background-color: #513C3C;
    margin-top: -394px;
    text-align: center;
    width: 1485px;
    height:200px;
    color: white;
    text-decoration-line: underline;
}

.input{
    background-color: aqua;
    border-radius: 10px;
    width: 200px;
    height: 20px;
    margin-top: -2500px;
}

.destacada{
    background-color: #513C3C;
    color: rgb(233, 231, 231);
    height: 20px;
    margin-top: 70px;
}

button{
    background-color: bisque;
    margin: 10px;
}

.buscar{
    margin-top: 115px;
    border-radius: 10px;
    width: 290px;
    height: 30px;
}