.card{
    display: grid;
    grid-template-columns: 500px 500px 500px;
    gap: 15px;
    margin: 45px;
    color: black;
    
    
}

.pe{
   border-radius: 10%;
   background-color: aliceblue;
   text-align: center;
   width: 290px;
}

.adop{
    background-color: lightseagreen;
}